body{
color: #444;
margin: 0;
padding: 0;
line-height: 150%;
}

/*トップバナー*/
#top-baner{
width: 100%;
}

/*ヘッダー部分*/
header{
margin-bottom: 15px;
height: 60px;
background-color: #d1ae00;
}
header h1{
font-size: 20px;
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 20px;
text-align: center;
float: left;
}
header h1 a{
color: #333;
text-decoration: none;
}

/*ナビゲーション*/
#top-nav{
float: right;
width: 500px;
height: 80px;
position: relative;
}
nav a{
padding: 10px 15px;
color: #444;
text-decoration: none;
font-size: 14px;
font-weight: bold;
}
nav a:hover{
text-decoration: underline;
}
#top-nav ul{
height: 40px;
width: 450px;
bottom: 0;
right: 0;
list-style: none;
position: absolute;
}
#top-nav ul li{
float: left;
}

/*コンテンツ横幅*/
.site-width{
width: 980px;
margin: 0 auto;
}
#count-title{
    margin-top: 0px;
    height: 500px;
    text-align: center;
}
#count-title a{
    color: red;
    text-decoration: none;
    font-size: 30px;
}
.count-title{
    height: 500px;
    text-align: center;
}
.button-size{
    text-align: center;
}
.button-size button{
    width: 150px;
    height: 40px;
    /* margin-bottom: 20px; */
    margin: 10px;
    text-align: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
.form button{
    border: none;
    padding: 15px 30px;
    margin-bottom: 15px;
    background: #3d3938;
    color: white;
    float: left;
}
#logout{
    border: none;
    padding: 15px 30px;
    margin-bottom: 15px;
    background: #3d3938;
    color: white;
}
#rireki{
    height: 342px;
    overflow: scroll;
}
.form{
    margin: 0 auto;
    padding: 30px 150px;
    width: 25%;
}
input[type='text']{
    color: #545454;
    height: 60px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="password"]{
    color: #545454;
    height: 60px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="submit"]{
    border: none;
    padding: 15px 30px;
    margin-bottom: 15px;
    background: #3d3938;
    color: white;
    float: right;
}
input[type="submit"]:hover{
    background: #111;
    cursor: pointer;
}
#register{
    border: none;
    padding: 15px 30px;
    margin-bottom: 15px;
    background: #3d3938;
    color: white;
    margin-top: 100px
}
.err_msg{
    color: #ff4d4b;
}
footer{
    font-size: 12px;
    padding: 50px;
    background: #d1ae00;
    text-align: center;
    color: #333;
}
